
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
    animation-name: Picture;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes Picture{
0%{box-shadow: 5px 5px 45px red;}
25%{box-shadow: 5px 5px 45px blue;}
50%{box-shadow: 5px 5px 45px green;}
75%{box-shadow: 5px 5px 45px yellow;}
100%{box-shadow: 5px 5px 45px purple;}
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
body{
    font-family: 'Josefin Sans', sans-serif;
    background: linear-gradient(blue 0%, red 100%);
    color: chartreuse;
}
